kind: Deployment
apiVersion: apps/v1
metadata: 
 name: nginx-deployment
 namespace: nginx
 labels:
   app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-dep-pod
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
          - name: my-volume
            mountPath: /usr/share/nginx/html
      volumes:
        - name: my-volume
          persistentVolumeClaim:
            claimName: local-pvc

